<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Drowsy Detection Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <form action="/drowsy_detection_finish">
                <button class="btn btn-primary btn-lg mt-3" type="submit">운전 종료</button>
            </form>
        </div>
    </div>
</div>
</body>