<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Drowsy Detection Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}">
            <form action="/drowsy_detection_finish">
                <button class="btn btn-primary btn-lg mt-3" type="submit">운전 종료</button>
            </form>
            <form action="capstone0098.online:8080/map">
                <button class="btn btn-primary btn-lg mt-3" type="submit">졸음 쉼터 조회</button>
            </form>
        </div>
    </div>

</div>
</body>